@model IEnumerable<Colegio.Entities.Horario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grado.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HorarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HorarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HorarioId })
        </td>
    </tr>
}

</table>
